* {
  margin: 0;
}

#content {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("../src/images/cafe.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 6fr 1fr;
}

.main {
  grid-area: 3/1/4/2;
  color: white;
  background-color: black;
  opacity: 0.5;
}

.header {
  grid-area: 1/1/2/2;
  color: white;
  background-color: black;
}

.footer {
  grid-area: 4/1/5/2;
  background-color: black;
  color: white;
}
